.home {
  background-image: url(../img/ballet.jpg);
  height: 797px;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-home {
	color: white;
	text-align: center;
	h2{
	font-size: 60px;
	margin-top: 20%;
	font-family: 'Tangerine', cursive;
	}
	h3{
		font-size: 50px;
		font-family: 'Tangerine', cursive;	
	}
	h4{
		font-family: 'Tangerine', cursive;
	}
}
.text-oferta{
	padding: 9% 23% 10% 27%;
	background-color: antiquewhite;
  text-align: center;
	p{
	font-family: 'Handlee', cursive;
	font-size: 21px;
	}
	.botom-oferta{
		text-align: center;
	}
	.linea-oferta {
	  border: 1px solid gray;
	  width: 12%;
	  margin: auto;
	  margin-bottom: 2%;
	}
}
.img-ballet{
  background-image: url(../img/ballet2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 54%;
}
.img-ballet-dos{
  background-image: url(../img/ballet3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 54%;
}
.fondo{
	padding: 0px;
}
.relativa{
	position: relative;
}
.botom-instructor{
	position: absolute;
    left: 31%;
    bottom: 0%;
    .btn{
    padding: 32px 161px;
  	font-size: 23px;
    }
}
.lema h2{
	text-align: center;
  margin: 5% 0%;
  font-family: 'Tangerine', cursive;	
font-size: 55px;

}
.formulario-contacto{
	margin: 10% 35%;
	font-family: 'Handlee', cursive;

		h2{
		font-family: 'Tangerine', cursive;	
		font-size: 55px;
		}
}
.footer{
	background-color:gray;
	height: 10%;

}
.navbar-nav{
	padding-left: 17%;
}